<main>
  <TodoForkRibbon />

  <section class="todoapp">
    <TodoHeader />

    <TodoList @onLoad={{action fetch}} @onFilter={{action filterTodos}} @router={{router}} />
  </section>

  <Footer />
</main>